nodered/nodered_update.json
[{"id":"32e92aa3.cd16d6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":698.0000076293945,"y":363.75000381469727,"z":"2ec1797b.d13e86","wires":[]},{"id":"401c0dcb.bfe3f4","type":"exec","command":"curl https://api.spark.io/v1/devices/xxxxxxxxxxxxxxxx/update  -d access_token=xxxxxxxxxxxxxxxx ","append":"","useSpawn":"","name":"Spark Command","x":799.2500114440918,"y":538.7500057220459,"z":"2ec1797b.d13e86","wires":[["32e92aa3.cd16d6"],[],[]]},{"id":"af367be4.50c988","type":"function","name":"Parse","func":"var str = \"\";\nfor (var c in msg.payload)\n{\n\tstr+=msg.payload[c];\n}\n\t\nmsg.payload = \"-d 'args=\" + str + \"'\";\nreturn msg;","outputs":1,"x":602.5000076293945,"y":539.5000076293945,"z":"2ec1797b.d13e86","wires":[["401c0dcb.bfe3f4"]]},{"id":"505b82f1.afa47c","type":"http request","name":"Get BixiBot stations","method":"GET","url":"http://bixibot.studioimaginaire.com/station","x":298.50000762939453,"y":539.5000076293945,"z":"2ec1797b.d13e86","wires":[["e875b388.178a5"]]},{"id":"9ba33420.645cc8","type":"inject","name":"Update","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":true,"x":100.25000762939453,"y":538.5000076293945,"z":"2ec1797b.d13e86","wires":[["505b82f1.afa47c"]]},{"id":"e875b388.178a5","type":"json","name":"","x":477.50000762939453,"y":539.5000076293945,"z":"2ec1797b.d13e86","wires":[["af367be4.50c988"]]}]